<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210575183244-6ucasim9tb5e6smvfndrfpd4lvjtu4s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210575183244-6ucasim9tb5e6smvfndrfpd4lvjtu4s0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210575183244-r9trimvk8hqqsa4ireohlbih03a6281k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDz9pP9QQzOJkUYnakQMYrN17zF8qCsP-I</string>
	<key>GCM_SENDER_ID</key>
	<string>210575183244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FC-Parisii-2020</string>
	<key>PROJECT_ID</key>
	<string>fc-parisii-f139f</string>
	<key>STORAGE_BUCKET</key>
	<string>fc-parisii-f139f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210575183244:ios:fe4e4583d409306087daa9</string>
	<key>DATABASE_URL</key>
	<string>https://fc-parisii-f139f.firebaseio.com</string>
</dict>
</plist>