html {
  background: -moz-linear-gradient(45deg, #5b0a0a, #130e0e); /* FF 3.6+ */
  background: -ms-linear-gradient(45deg, #5b0a0a, #130e0e); /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b0a0a), color-stop(100%, #5b0a0a)); /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(45deg, #5b0a0a, #130e0e); /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(45deg, #5b0a0a, #130e0e); /* Opera 11.10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b0a0a', endColorstr='#5b0a0a'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b0a0a', endColorstr='#5b0a0a')"; /* IE8+ */
  background: linear-gradient(45deg, #5b0a0a, #130e0e); /* the standard */
  z-index: 1;
}

html{
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.container {
  display: grid;
  height: 100%;
  grid-template-rows: 6fr 2fr 2fr;
  justify-items: center;
  align-items: center;
}

.item-logo {
  min-height: 0;
}

.item-logo img {
  width: 100%;
}

.item {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 7fr;
  justify-items: center;
  align-items: center;
}

.item-button {
  height: 70%;
  width: 40%;
  border-radius: 20px;
  background-color: #e6e6e6;
  cursor:pointer;
  border:1px solid black;
  box-shadow: 3px 4px 0 0 black;
  align-self: start;
}
.item-button a {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item-button img {
  width: 65%;
}

.item-header {
  width: 60%;
}

.item-header label {
  color: white;
  font-family: Avenir, sans-serif;
  font-size: 4vw;
  font-style: oblique;
  font-weight: bold;
}

