html {
  background: -moz-linear-gradient(45deg, #5b0a0a, #130e0e); /* FF 3.6+ */
  background: -ms-linear-gradient(45deg, #5b0a0a, #130e0e); /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b0a0a), color-stop(100%, #5b0a0a)); /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(45deg, #5b0a0a, #130e0e); /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(45deg, #5b0a0a, #130e0e); /* Opera 11.10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b0a0a', endColorstr='#5b0a0a'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b0a0a', endColorstr='#5b0a0a')"; /* IE8+ */
  background: linear-gradient(45deg, #5b0a0a, #130e0e); /* the standard */
  z-index: 1;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.item-logo {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.item-logo img {
  width: 100%;
  max-width: 512px;
}

.item-button {
  height: 100%;
  width: 100%;
}

.item-button a {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item-button img {
  max-height: 100px;
  max-width: 60%;
}



