html {
  background: -moz-linear-gradient(45deg, #5b0a0a, #130e0e); /* FF 3.6+ */
  background: -ms-linear-gradient(45deg, #5b0a0a, #130e0e); /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b0a0a), color-stop(100%, #5b0a0a)); /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(45deg, #5b0a0a, #130e0e); /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(45deg, #5b0a0a, #130e0e); /* Opera 11.10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b0a0a', endColorstr='#5b0a0a'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b0a0a', endColorstr='#5b0a0a')"; /* IE8+ */
  background: linear-gradient(45deg, #5b0a0a, #130e0e); /* the standard */
  z-index: 1;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-rows: 6fr 2fr 2fr;
  justify-items: center;
  align-items: center;
}

.grid-download-os {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 8fr;
  justify-items: center;
  align-items: center;
}

.os-download-button {
  width: 50%;
  height: 70%;
  border-radius: 20px;
  background-color: #e6e6e6;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor:pointer;
  border:1px solid black;
  box-shadow: 3px 4px 0 0 black;
}

.os-download-button-header {
  width: 60%;
  display: grid;
  align-self: end;
}

.os-download-button-header label {
  color: white;
  font-family: Avenir, sans-serif;
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: bold;
}

.logo {
  height: 100%;
}

.download {
  height: 70%;
}


